extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        form.input-form
            div.form-group
                label(for='exampleFormControlInput1') API Name 
                input#exampleFormControlInput1.form-control.input_api(type='string' placeholder='My API')
                label(for='exampleFormControlInput1') HTTP Method 
                select#exampleFormControlSelect1.form-control.text-muted.input_http-method
                    option(value='' selected='' disabled='' hidden='') Please choose method to test
                    option GET 
                    option POST 
                    option PUT 
                    option PATCH 
                    option DELETE
                label(for='exampleFormControlInput1') API Endpoint 
                input#exampleFormControlInput1.form-control.input_api-endpoint(type='string' placeholder='api/1.0/user/signin')
                label(for='exampleFormControlSelect1') Severity
                select#exampleFormControlSelect1.form-control.text-muted.input_severity
                    option(value='' selected='' disabled='' hidden='') Value the severity
                    option 1 
                    option 2 
                    option 3 
                    option 4 
                    option 5
            button.btn.btn-info.btn-block.btn-create_api(type='submit') Create API