extends layout.pug

block content 
    link(rel='stylesheet', href='../../css/common.css')
    div.content-wrapper
      h2 Serval Test Passed 
      p status: #{status}
        br
        | time: #{time}