extends layout.pug

block content 
  link(rel='stylesheet', href='../../css/common.css')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')

  div.content-wrapper
    if reportResponse
      - let k = 0
      while k < reportResponse.length
        if reportResponse[k].pass === true 
          div(class='card')
            div(class='card-header')
              h3(class='card-title') Serval Test Passed
              div(class='card-tools')
                span(class='badge badge-success') PASS
            div(class='card-body')
              br
              | Request Time: #{reportResponse[k].request_time}
            div(class='card-footer')
              | Time Length: #{reportResponse[k].request_time_length}
        else 
          div(class='card')
            div(class='card-header')
              h3(class='card-title') Serval Test Failed
              div(class='card-tools')
                span(class='badge badge-danger') FAIL
            div(class='card-body')
              br
              | Request Time: #{reportResponse[k].request_time}
            div(class='card-footer')
              | Time Length: #{reportResponse[k].request_time_length}
        - k++
    else 
      div(class='card')
        div(class='card-header')
          h3(class='card-title') reportResponse.msg