extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        form.input-form
            h1 Add Collection
            div.form-group
                label(for='exampleFormControlInput1') Collection Name 
                input#exampleFormControlInput1.form-control.input_collection(type='string' placeholder='My Collection')
            button.btn.btn-info.btn-block.btn-create_collection(type='submit') Create Collection
    script.
        $('.btn-create_collection').on('click', function(event) {
            console.log('create_collection clicked')
            event.preventDefault();
            const collectionName = $('.input_collection').val();

            axios({
                method: 'post',
                url: 'http://localhost:3001/api/1.0/editcollection',
                data: {
                    //- userEmail: 'serval_meow@gmail.com',
                    projectName: projectName,
                    collectionName: collectionName,
                },
                headers: {'Content-Type': 'application/json'}
            })
            .then((response) => {
                if (response.status === 200) {
                    //- console.log('response.status: ', response.status);
                    alert('create project successfully')
                    // TODO: settimeout and let page return to show all collections
                    //- window.location.assign('./testresult');
                }
            })
            .catch((error) => {
                console.log('in error');
                console.log('catch: ', error)
                alert('create project error')
            })
        })
