extends layout.pug

block content 
  link(rel='stylesheet', href='../../css/common.css')
  div
    .error_container 
    h2 Serval Test Failed
    p.error_message
      | message: #{message}
      br
      | time: #{time}