extends layout.pug

block content 
  link(rel='stylesheet', href='../../css/common.css')
  div.content-wrapper
    h2 Serval Test Failed
    p.error_message
      | Message: #{message}
      br
      | Time: #{time}