extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    
    main.main-content(role='main')
        .container-fluid
            .row.justify-content-center
                .col-12
                    h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 2rem;') Profile
                    .row.mt-5.align-items-center 
                        .col-md-3.text-center.mb-5
                            .avatar.avatar-xl
                                img.avatar-img.rounded-circle(src='../../css/icon/serval.png' style='background-color: white;')
                        .col
                            .row.align-items-center
                                .col-md-7
                                    h4.mb-1(style='font-size: 2rem;') #{userInfo.userName}
                                    p.medium.mb-3
                                        span.badge.badge-dark(style='font-size: 100%;') Product Manager
                            .row.mb-4
                                .col-md-7(style='font-size: 1.2rem;')
                                    h3.text-muted
                                    | Start your test journey with Serval now.
                                button.btn.btn-lg.btn-right.btn-primary.btn-log_out(type='submit') Log Out
                .col-12
                    h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; padding: 5rem 0 0 0; font-size: 2rem;') Dashboard
                    .input-form
                        .basic-info
                            .user-reports-amount
                                .card 
                                    .card-header
                                    .card-body
                            .user-line-chart
                                .card 
                                    .card-header
                                    .card-body
                            .user-pie-chart
                                .card 
                                    .card-header
                                    .card-body

    script.
        $('.btn-log_out').on('click', function(event) {
            console.log('log out clicked')
            event.preventDefault();

            axios({
                method: 'post',
                url: '/user/logout',
                headers: {'Content-Type': 'application/json'}
            })
            .then((response) => {
                if (response.status === 200) {
                    swal({
                        text: "You have logged out",
                        confirmButtonClass: "btn-success",
                    })
                    setTimeout(()=> {
                        window.location.assign('../../../');
                    }, 2000)
                }
            })
            .catch((error) => {
                console.log('catch error: ', error)
                window.location.reload();
            })
        })