extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    
    div.content-wrapper
        .cards
            h1.display-3(style='text-align: center;') Welcome Back!
                h1.display-5(style='text-align: center;')
                    | Start your test journey with Serval now.
            .card
                .card-body
                    img.rounded-circle.profile-image(src='../../css/icon/serval.png' alt='Profile' style='opacity: .8; width: 103px; height: 103px; border-bottom: 30px;')
                    h1.display-5(style='text-align: center;') #{userInfo.userName}
                    h1.display-6(style='text-align: center;') #{userInfo.userEmail}
            button.btn.btn-right.btn-outline-info.btn-log_out(type='submit') Log Out

    script.
        $('.btn-log_out').on('click', function(event) {
            console.log('log out clicked')
            event.preventDefault();

            axios({
                method: 'post',
                url: '/api/1.0/user/logout',
                headers: {'Content-Type': 'application/json'}
            })
            .then((response) => {
                if (response.status === 200) {
                    swal({
                        text: "You have logged out",
                        confirmButtonClass: "btn-success",
                    })
                    setTimeout(()=> {
                        window.location.assign('../../../');
                    }, 2000)
                }
            })
            .catch((error) => {
                console.log('catch error: ', error)
                window.location.reload();
            })
        })