extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        form.input-form
            h1 Projects
            button.btn.btn-success.btn-block.btn-create_project(type='submit') Create Project
        .cards
            .card
                .card-header
                    h3.card-title Projects
                    .card-tools
                        ul.pagination.pagination-sm.float-right
                            li.page-item
                                a.page-link(href='#') &laquo;
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') &raquo;
                .card-body.p-0
                    table.table
                        thead
                            tr
                                //- th(style='width: 10px') #
                                th ID
                                th Name
                                th Environments
                                th Edit 
                                //- th(style='width: 40px') Label
                        tbody
                            if userProjects
                                - let i = 0
                                while i < userProjects.length
                                    tr 
                                        td #{userProjects[i]._id}
                                        td #{userProjects[i].project_name}
                                        td #{userProjects[i].environments}
                                        td edit
                                    - i++
                            //- tr
                            //-     td 1.
                            //-     td Update software
                            //-     td
                            //-         .progress.progress-xs
                            //-             .progress-bar.progress-bar-danger(style='width: 55%')
                            //-     td
                            //-         span.badge.bg-danger 55%
    script.
        $('.btn-create_project').on('click', function(event) {
            console.log('create_project clicked')
            event.preventDefault();
            window.location.assign('./editproject');
        })
            //- div.card.card-project
            //-     form.input-form
            //-         div.form-group
            //-             label(for='exampleFormControlInput1') Create New API 
            //-             select#exampleFormControlSelect1.form-control.text-muted.select_project
            //-                 option(value='' selected='' disabled='' hidden='') Select Project
            //-             select#exampleFormControlSelect1.form-control.text-muted.select_collection
            //-                 option(value='' selected='' disabled='' hidden='') Select Collection
            //-             input#exampleFormControlInput1.form-control.create_collection(type='url' placeholder='API name')
            //-         button.btn.btn-outline-info.btn-block.btn-create_api(type='submit') Create API
