extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    
    main.main-content(role='main')
        .container-fluid
            .row.justify-content-center
                a.h5.text-secondary.mb-3(href='./profile')  ← Home
                .col-12.mb-0.align-items-center
                    .title-bar.justify-content-between(style="display: flex")
                        h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 2rem;') Project Name
                        .edit-buttons
                            button.btn.btn-primary EDIT 
                            button.btn.btn-danger.mr-0 DELETE
                .title-divider.mb-4(style='height: 0; overflow: hidden; border-top: 1px solid #e9ecef;')
                .col-12.align-items-center
                    .title-bar.justify-content-between(style="display: flex")
                        h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 1.5rem;') Environments
                    .row.mt-1.align-items-center
                        .card-columns(style="display: flex")
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                            .small.mb-0.text-muted 6334645f6461899901de7228
                                            h3 Staging
                                            p.text-secondary https://hazlin.work/
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-gear.text-grey
                                            br
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-trash.text-grey
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                            .small.mb-0.text-muted 6334645f6461899901de7228
                                            h3 Develop
                                            p.text-secondary http://35.78.153.63/
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-gear.text-grey
                                            br
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-trash.text-grey
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                        button.btn.text-uppercase Add New Environment
                .title-divider(style='height: 0; margin: 0 0 1rem 0; overflow: hidden; border-top: 1px solid #e9ecef;')
                .col-12.align-items-center
                    .title-bar.justify-content-between(style="display: flex")
                        h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 1.5rem;') Collections
                    .row.mt-1.align-items-center
                        .card-columns(style="display: flex")
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                            .small.mb-0.text-muted 6334641f6461899901de717f
                                            h3 user
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-gear.text-grey
                                            br
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-trash.text-grey
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                            .small.mb-0.text-muted 6334641f6461899901de717g
                                            h3 product
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-gear.text-grey
                                            br
                                            a(href='#')
                                                i.h4.fa.fa-solid.fa-trash.text-grey
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                        button.btn.text-uppercase Add New Collection
                .title-divider(style='height: 0; margin: 0 0 1rem 0; overflow: hidden; border-top: 1px solid #e9ecef;')
                .col-12
                    h2.h3.mb-4.page-title(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 1.5rem;') Reports
                    .row.mt-1.align-items-center
                        .card-columns(style="display: flex")
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center(style="flex-direction: column;") 
                                        .col-md-6.my-4
                                            p.mb-0
                                                h5.mb-0.text-uppercase.text-muted 29 Sep 2022
                                            h1.display-6.badge(style='font-size: 120%; background-color: #809A6F') SCENARIO
                                            br
                                            h1.badge.bg-success.text-dark.result-badge(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 90%;') DONE
                                        .col-md-6.border-top.pt-3
                                            p.mb-1 Collection / API / Scenario
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') user
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') signin 
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') Sign in
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center(style="flex-direction: column;") 
                                        .col-md-6.my-4
                                            p.mb-0
                                                h5.mb-0.text-uppercase.text-muted 29 Sep 2022
                                            h1.display-6.badge(style='font-size: 120%; background-color: #A25B5B') API
                                            br
                                            h1.badge.bg-warning.text-dark.result-badge(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 90%;') RUNNING
                                        .col-md-6.border-top.pt-3
                                            p.mb-1 Collection / API / Scenario
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') user
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') signin 
                                            h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 90%;') Sign in
                            .card.shadow.mb-4.mt-0
                                .card-body 
                                    .row.items-align-center 
                                        .col-md-6.my-4
                                        button.btn.text-uppercase Run New Test