extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    
    div.content-wrapper
        div.cards
            div.card.card-sign_up
                form.input-form
                    div.form-group
                        label(for='exampleFormControlInput1') Sign Up 
                        input#exampleFormControlInput1.form-control.input_project(type='email' placeholder='serval_meow@gmail.com')
                    button.btn.btn-outline-info.btn-block.btn-create_project(type='submit') Sign Up
            div.card.card-sign_in
                form.input-form
                    div.form-group
                        label(for='exampleFormControlInput1') Sign In 
                        input#exampleFormControlInput1.form-control.input_project(type='email' placeholder='serval_meow@gmail.com')
                    button.btn.btn-outline-info.btn-block.btn-create_project(type='submit') Sign In
    script. 
        