extends layout.pug

block content
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='../../src/userSrc.js')

    main.main-content(role='main')
        .container-fluid
            .row.justify-content-center
                .col-12
                    h2(style='font-family: PF Tempesta Seven Extended, sans-serif; font-size: 2rem;') User
                    form.col-lg-3.col-md-4.col-10.mx-auto.text-center(style='padding-top: 40px;')
                        h1.h3.mb-3 Sign in
                        .form-group
                            label.sr-only(for='user-email') Email address
                            input#user-signin-email.form-control.form-control-lg.input_signin-email(type='email' placeholder='serval_meow@gmail.com' required autofocus='')
                        .form-group
                            label.sr-only(for='user-password') Password
                            input#user-signin-password.form-control.form-control-lg.input_signin-password(type='password' placeholder='Password' required)
                        button.btn.btn-lg.btn-primary.btn-block.btn-sign_in(type='submit') Back to Test!
                    br
                    form.col-lg-3.col-md-4.col-10.mx-auto.text-center(style='padding-top: 40px;')
                        h1.h3.mb-3 Register
                        .form-group
                            label.sr-only(for='user-name') User Name 
                            input#user-signup-name.form-control.form-control-lg.input_signup-username(type='email' placeholder='coolServal' required autofocus='')
                        .form-group
                            label.sr-only(for='user-email') Email address
                            input#user-signup-email.form-control.form-control-lg.input_signup-email(type='email' placeholder='serval_meow@gmail.com' required autofocus='')
                        .form-group
                            label.sr-only(for='user-password') Password
                            input#user-signup-password.form-control.form-control-lg.input_signup-password(type='password' placeholder='Password' required)
                        button.btn.btn-lg.btn-primary.btn-block.btn-sign_up(type='submit') Start My Test!
                        p.mt-5.mb-3.text-muted &copy; 2022 ServalRun
                    //- .card.card-sign_in.shadow.mb-4
                    //-     .form-group.mb-3
                    //-         h1.display-6 Sign In
                    //-         label(for='user-email') Email 
                    //-         input#user-signin-email.form-control.input_signin-email(type='email' placeholder='serval_meow@gmail.com')
                    //-         label(for='user-password') Password 
                    //-         input#user-signin-password.form-control.input_signin-password(type='password')
                    //-     button.btn.btn-outline-info.btn-sign_in(type='submit') Sign In
                    //- .card.card-sign_up.shadow.mb-4
                    //-     .form-group.mb-3
                    //-         h1.display-6 Sign Up
                    //-         label(for='user-name') User Name 
                    //-         input#user-signup-name.form-control.input_signup-username(type='string' placeholder='coolServal')
                    //-         label(for='user-email') Email 
                    //-         input#user-signup-email.form-control.input_signup-email(type='email' placeholder='serval_meow@gmail.com')
                    //-         label(for='user-password') Password 
                    //-         input#user-signup-password.form-control.input_signup-password(type='password')
                    //-     button.btn.btn-outline-info.btn-sign_up(type='submit') Sign Up
