/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

img.brand-image {
    opacity: .8; 
    width: 571px; 
    height: 198px;
}

.CodeMirror { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }