/* ================================= 
  Base Element Styles
==================================== */
*, ::after, ::before {
  box-sizing: border-box;
}

img.brand-image {
    opacity: .8; 
    width: 571px; 
    height: 198px;
}

.CodeMirror {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.input-form {
  width: 80%;
  padding: 20px 60px;
}

.cards {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  margin: auto 150px 100px;
  /* padding: 65px 0 164px; */
}

.card {
  max-width: 1200px;
  margin: auto 50px 80px;
  /* padding: 65px 0 164px; */
}


.btn {
  float: right;
}